<div class="background-wrapper">
  <div class="login-card">
    <header class="login-header">
      <h1>{{ isRegisterMode ? 'Register' : 'Login' }}</h1>
      
      <p>{{ isRegisterMode ? 'Enter details to create an account' : 'Log in to continue' }}</p>
    </header>

    <div class="login-form">
      <div class="input-group">
        <input 
          type="email" 
          [(ngModel)]="email" 
          placeholder="Email Address" 
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          #emailInput="ngModel"
          required
        />
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-msg">
          Please enter a valid email.
        </div>
      </div>

      <div class="input-group">
        <input 
          type="password" 
          [(ngModel)]="password" 
          placeholder="Password" 
          (keyup.enter)="submit()"
        />
      </div>

      <button class="btn-login" (click)="submit()">
        <span>{{ isRegisterMode ? 'Register' : 'Login' }}</span>
      </button>

      <p class="toggle-mode" (click)="toggleMode()">
        {{ isRegisterMode ? 'Already have an account? Login' : 'Don\'t have an account? Register' }}
      </p>
    </div>
  </div>
</div>